@model IleCzasu.Models.ViewModels.UserPanelViewModel
<div id="message"></div>
<div class="row">
    <div class="user-panel-col">
      

        <div class="user-panel-box">
            <div class="row user-panel-label">
                <i class="fas fa-user-cog"></i>
                KONFIGURACJA KONTA
            </div>
            <div class="row" style="position:relative">
                <div>                
                    <img id="avatar" src="~/images/avatars/@Model.User.Avatar" width="100" height="100" />                

                    <div class="upload-btn-wrapper">
                        <button class="user-panel-avatarBtn"><i class="fas fa-edit"></i></button>
                        <input id="imageInput" name="Image" type="file" style="color:white;" accept="image/*" />
                    </div>
                </div>
                <div class="user-panel-name">@User.Identity.Name</div>
              
            </div>
        </div>
        <div class="user-panel-box">
            <div class="row user-panel-label" style="position:relative">
                <i class="fas fa-user-cog"></i>
                PRZYPOMNIENIA <div class="user-panel-onof"><button id="remindOnBtn" style="margin-right:2px !important;">WŁ</button><button id="remindOffBtn">WYŁ</button></div>
            </div>
            <div class="row">
          
                <div class="form-group">
                    <label>KATEGORIA</label>
                    <select class="form-control" id="categoryId" style="width:120px; margin-left:auto; margin-right:auto" asp-items="@(new SelectList(Model.Categories,"CategoryId","Name"))">
                        <option value="10" selected>Wszystkie</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>TYLKO PRYWATNE</label>
                    <input class="form-control" id="privateOnly" asp-for="@Model.Settings.PrivateOnly" type="checkbox" style="margin-top:10px;" />
                </div>
                <div class="form-group">
                    <label>DNI PRZED</label>
                    @if (Model.Settings != null)
                    {
                        <div class="row" style="width:100%; text-align:center;"><button class="main-button2" style="margin-left:auto;" id="dMinus">-</button><div id="numberOfDays">@Model.Settings.DaysBefore</div><button id="dPlus" class="main-button2" style="margin-right:auto">+</button> </div>

                    }
                    else
                    {
                        <div class="row" style="width:100%; text-align:center;"><button class="main-button2" style="margin-left:auto;" id="dMinus">-</button><div id="numberOfDays">1</div><button id="dPlus" class="main-button2" style="margin-right:auto">+</button> </div>

                    }

                </div>
                
                <button id="saveSettings"><i class="far fa-save"></i>ZAPISZ</button>
                </div>
        </div>
    </div>
    <div class="user-panel-col">
        <div class="user-panel-box" style="position:relative">
            <div class="row user-panel-label">MOJE WYDARZENIA (@Model.UserEvents.Count)<a asp-route="createEvent" class="table-link"><i class="fas fa-plus" style="position:absolute; right:5px;"></i></a></div>
            <table>
                <tr>
                    <th>Nazwa</th>
                    <th>Data</th>
                    <th></th>
                </tr>
                @foreach (var e in Model.UserEvents)
                {
                    <tr class="event">
                        <td style="width:60%;"><a asp-action="Event" asp-controller="Home" asp-route-id="@e.PrivateEventId" asp-route-name="@e.Name" class="table-link">@e.Name</a></td>
                        <td style="width:20%; color:#827c7c;">@e.StartDate.ToString("dd.MM.yyyy")</td>
                        <td style="text-align:right; width:20%">
                            <a asp-action="Edit" asp-controller="UserPanel" asp-route-eventId="@e.PrivateEventId"><i class="fas fa-edit tEdit"></i></a>
                            <button class="delete-button"><i class="fas fa-trash-alt"></i></button>
                            <input class="eventId" type="hidden" value="@e.PrivateEventId" />
                        </td>
                    </tr>

                }
            </table>
        </div>
        <div class="user-panel-box" style="position:relative">
            <div class="row user-panel-label">MOJE NOTATKI (@Model.UserNotes.Count)<a asp-route="createEvent" class="table-link"><i class="fas fa-plus" style="position:absolute; right:5px;"></i></a></div>
            <table>
                <tr>
                    <th>Notatka</th>
                    <th>Data</th>
                    <th></th>
                </tr>
                @foreach (var e in Model.UserNotes)
                {
                    <tr class="event">
                        <td style="width:60%;">@e.NoteText</td>
                        <td style="width:20%; color:#827c7c;">@e.Date.ToString("dd.MM.yyyy")</td>
                        <td style="text-align:right; width:20%">
                            
                            <button class="delete-button"><i class="fas fa-trash-alt"></i></button>
                         
                        </td>
                    </tr>

                }
            </table>
        </div>
    </div>
</div>
<div id="croppImage"></div>
<input type="hidden" id="imageName" />
<input type="hidden"  id="x" />
<input type="hidden"  id="y" />
<input type="hidden"  id="width" />
<input type="hidden"  id="height" />

@section Scripts {
    <script>
        var privateOnly = true;
        var active = true;
         var categoryId = 10;
         var days = parseInt($('#numberOfDays').html());
        </script>
          @if (Model.Settings != null)
          {
             <script>
              privateOnly = @Json.Serialize(Model.Settings.PrivateOnly);
              active = @Json.Serialize(Model.Settings.Active);
              categoryId = @Model.Settings.CategoryId;
            </script>
            }

<script>
              $('.event').each(function () {
                  var event = $(this);

                  var id = $(this).find('.eventId').val();
                  $(this).find('.delete-button').click(function () {
                      $.ajax({
                          url: "/UserPanel/DeleteConfirmation/",
                          type: 'POST',
                          data: { eventId: id },
                          success: function (result) {
                              $('#message').html(result);
                          },
                          error: function () {
                          },
                          complete: function () {
                              $('#deleteY').click(function () {
                                  $.ajax({
                                      url: "/UserPanel/Delete/",
                                      type: 'POST',
                                      data: { eventId: $('#deleteId').val() },
                                      success: function (result) {
                                      },
                                      error: function () {
                                      },
                                      complete: function () {
                                          event.hide();
                                          $('.message-background').remove();
                                      }
                                  });
                              });

                              $('#deleteN').click(function () {
                                  $('.message-background').remove();
                              });
                          }
                      });
                  });
              });

              $('#imageInput').change(function () {
                  var formData = new FormData();
                  formData.append('image', $('#imageInput')[0].files[0]); // myFile is the input type="file" control
                  $('#_imagePath').val("a" + $('#imageInput')[0].files[0].name);
                  $.ajax({
                      url: "/UserPanel/SaveAvatar/",
                      type: 'POST',
                      data: formData,
                      processData: false,  // tell jQuery not to process the data
                      contentType: false,  // tell jQuery not to set contentType
                      success: function (result) {
                          $("#croppImage").show();
                          $("#croppImage").html(result);
                      },
                      error: function (jqXHR) {
                      },
                      complete: function (jqXHR, status) {
                          $("#cropButton").click(function (e) {
                              $("#croppImage").hide();
                              $.ajax({
                                  url: "/UserPanel/CroppAvatar/",
                                  type: 'POST',
                                  data: { imageName: $("#imageName").val(), x: $("#x").val(), y: $("#y").val(), width: $("#width").val(), height: $("#height").val() },
                                  success: function (result) {
                                      document.getElementById("avatar").src = "/images/avatars/" + result;
                                  },
                                  error: function () {
                                  },
                                  complete: function () {

                                  }
                              });

                          });
                      }
                  });
              });

              if (active) {
                  $('#remindOffBtn').addClass("remind-off");
              } else {
                  $('#remindOnBtn').addClass("remind-off");
              }

              $('#categoryId').val(categoryId);

              $('#privateOnly').change(function () {
                  if (this.checked) {
                      privateOnly = true;
                  } else {
                      privateOnly = false;
                  }
              });
              $('#dPlus').click(function () {
                  days += 1;
                  $('#numberOfDays').html(days);
              });
              $('#dMinus').click(function () {
                  if (days > 1) {
                      days -= 1;
                      $('#numberOfDays').html(days);
                  }
              });
              $('#remindOnBtn').click(function () {
                  $('#remindOnBtn').removeClass("remind-off");
                  $('#remindOffBtn').addClass("remind-off");

                  $.ajax({
                      url: "/UserPanel/TurnOnReminder/",
                      type: 'POST',
                      data: {},
                      success: function (result) {

                      },
                      error: function () {
                      },
                      complete: function () {

                      }
                  });
              });
              $('#remindOffBtn').click(function () {
                  $('#remindOffBtn').removeClass("remind-off");
                  $('#remindOnBtn').addClass("remind-off");

                  $.ajax({
                      url: "/UserPanel/TurnOffReminder/",
                      type: 'POST',
                      data: {},
                      success: function (result) {

                      },
                      error: function () {
                      },
                      complete: function () {

                      }
                  });

              });

              $('#categoryId').change(function () {
                  categoryId = $('#categoryId').val();
              });

              $('#saveSettings').click(function () {
                  $.ajax({
                      url: "/UserPanel/SaveReminderSettings/",
                      type: 'POST',
                      data: { catId: categoryId, privateOnly: privateOnly, daysBefore: days },
                      success: function (result) {

                      },
                      error: function () {
                      },
                      complete: function () {

                      }
                  });


              });
</script>
}