
@{
    System.Globalization.CultureInfo culture = new System.Globalization.CultureInfo("pl-PL");
    @model IleCzasu.Models.CalendarViewModel;
    var dayClass = "";
}
<div class="user-month-label">@Model.Current.ToString("MMMM", culture)</>     @Model.Current.Year</div>
<div class="user-day-label">PON</div>
<div class="user-day-label">WT</div>
<div class="user-day-label">ŚR</div>
<div class="user-day-label">CZW</div>
<div class="user-day-label">PT</div>
<div class="user-day-label">SO</div>
<div class="user-day-label">ND</div>
@for (int i = 0; i < 42; i++)
{
    if (Model.FirstDayOfWeek == DateTime.Now.Date)
    {
        dayClass = "day-today";
    }
    else if (Model.FirstDayOfWeek.Month != Model.Current.Month)
    {
        dayClass = "day-otherMonth";
    }
    else
    {
        dayClass = "";
    }

    <div class="user-day @dayClass">
        <div class="day-number">
            @Model.FirstDayOfWeek.Day
        </div>
        <div class="day-events">
            @foreach (var e in Model.User.UserFollows)
            {
                if (e.Event.Date.Date == Model.FirstDayOfWeek.Date)
                {
                    <i class="@e.Event.Category.IconClass"></i>
                }         
            }
            @foreach (var e in Model.User.UserEvents)
            {
                if (e.StartDate.Date == Model.FirstDayOfWeek.Date)
                {
                    <i class="fas fa-calendar" style="color:#E4572E"></i>
                }
            }
            @foreach (var e in Model.User.UserNotes)
            {
                if (e.Date.Date == Model.FirstDayOfWeek.Date)
                {
                    <i class="fas fa-sticky-note" style="color:#E0A22F"></i>
                }
            }
        </div>
        <input type="hidden" class="currentDay" id="selectedDay" value="@Model.FirstDayOfWeek" />

    </div>

    Model.FirstDayOfWeek = Model.FirstDayOfWeek.AddDays(1);
}
<div class="select-day-label window-label" style="padding-top:10px;"></div>

<script>
    jQuery(document).ready(function () {
        $(".user-day").click(function (e) {
            calDate = $(this).find("#selectedDay").value;
            $(".select-day-label").html(date);
        });
    });

</script>
